[versions]
agp = "7.3.1"
amplify = "2.8.7"
cameraX = "1.2.0"
compose = "1.3.2"
dokka = "1.8.10"
lifecycle = "2.4.0"
kotlin = "1.8.10"
ktlint = "11.0.0"
material3 = "1.1.0"
paparazzi = "1.2.0"

[libraries]
# Amplify Dependencies
amplify-api = { module = "com.amplifyframework:aws-api", version.ref = "amplify" }
amplify-auth = { module = "com.amplifyframework:aws-auth-cognito", version.ref = "amplify" }
amplify-predictions = { module = "com.amplifyframework:aws-predictions", version.ref = "amplify" }

# Android
android-desugar = "com.android.tools:desugar_jdk_libs:1.1.8"

# AndroidX
androidx-camera-core = { module = "androidx.camera:camera-core", version.ref = "cameraX" }
androidx-camera-camera2 = { module = "androidx.camera:camera-camera2", version.ref = "cameraX" }
androidx-camera-lifecycle = { module = "androidx.camera:camera-lifecycle", version.ref = "cameraX" }
androidx-compose-material = { module = "androidx.compose.material3:material3", version.ref = "material3" }
androidx-compose-viewmodel = { module = "androidx.lifecycle:lifecycle-viewmodel-compose", version.ref = "lifecycle" }
androidx-compose-tooling = { module = "androidx.compose.ui:ui-tooling", version.ref = "compose" }
androidx-futures = "androidx.concurrent:concurrent-futures:1.1.0"
androidx-lifecycle = { module = "androidx.lifecycle:lifecycle-runtime-ktx", version.ref = "lifecycle" }

# Kotlin
kotlin-serialization-json = "org.jetbrains.kotlinx:kotlinx-serialization-json:1.3.3"

# TensorFlow
tensorflow = "org.tensorflow:tensorflow-lite:2.0.0"
tensorflow-support = "org.tensorflow:tensorflow-lite-support:0.3.0"

# Testing libraries
test-androidx-junit = "androidx.test.ext:junit:1.1.4"
test-compose-junit = {  module = "androidx.compose.ui:ui-test-junit4", version.ref = "compose" }
test-compose-manifest = { module = "androidx.compose.ui:ui-test-manifest", version.ref = "compose" }
test-espresso = "androidx.test.espresso:espresso-core:3.5.1"
test-junit = "junit:junit:4.13.2"
test-mockk = "io.mockk:mockk:1.13.4"
test-robolectric = "org.robolectric:robolectric:4.9.2"

# Dependencies for convention plugins
plugin-android-gradle = { module = "com.android.tools.build:gradle", version.ref = "agp" }
plugin-kotlin-gradle = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
plugin-dokka = { module = "org.jetbrains.dokka:dokka-gradle-plugin", version.ref = "dokka" }
plugin-ktlint = { module = "org.jlleitschuh.gradle:ktlint-gradle", version.ref = "ktlint" }

[bundles]
camera = ["androidx-camera-core", "androidx-camera-camera2", "androidx-camera-lifecycle"]
compose = ["androidx-compose-material", "androidx-compose-tooling"]
test = ["test-androidx-junit", "test-junit", "test-mockk", "test-robolectric", "test-compose-junit", "test-compose-manifest", "test-espresso"]

[plugins]
android-application = { id = "com.android.application", version.ref = "agp" }
android-library = { id = "com.android.library", version.ref = "agp" }
dokka = { id = "org.jetbrains.dokka", version.ref = "dokka" }
ktlint = { id = "org.jlleitschuh.gradle.ktlint", version.ref = "ktlint" }
paparazzi = { id = "app.cash.paparazzi", version.ref = "paparazzi" }
